<tr is="coral-table-row"
    data-foundation-collection-item-id="${resource.path}"
    data-foundation-collection-navigator-href="/tools/translation/dictionaries/message-entries.html${resource.path}"
    data-dictionary-publish-paths="${resource.path}"
    data-dictionary-item-editable="${properties.editable ? 'true' : 'false'}"
    class="foundation-collection-item foundation-collection-navigator">
    <td is="coral-table-cell" coral-table-rowselect></td>
    <td is="coral-table-cell">${resource.path}</td>
    <td is="coral-table-cell">${properties.languages @ join=', '}</td>
    <td is="coral-table-cell">${properties.baseNames  @ join=', '}</td>
    <td is="coral-table-cell">${properties.type.toString}</td><!--/* call toString due to https://issues.apache.org/jira/browse/SLING-12785 */-->
    <td is="coral-table-cell" value="${properties.editable ? 'yes' : 'no'}">
        <coral-icon
                class="icon--${properties.editable ? 'success' : 'warning'}"
                icon="${properties.editable ? 'checkmarkCircle' : 'closeCircle'}"
                size="M">
        </coral-icon>
    </td>
    <td is="coral-table-cell">${properties.numEntries}</td>
</tr>
