scripts=["
    create group dictionary-user
    add dictionary-user to group contributor

    create user test-user-dictionary-user with password test-password-dictionary-user
    add test-user-dictionary-user to group dictionary-user

    set ACL for dictionary-user
        allow jcr:read,jcr:nodeTypeManagement,jcr:write,crx:replicate on /content/dictionaries
        allow jcr:read on /libs/cq/i18n/translator
        allow jcr:read on /libs/cq/i18n/gui/translator
    end
"]
