version: 2
updates:
  - package-ecosystem: "maven"
    directory: "/"
    schedule:
      interval: "weekly"
    ignore:
      - dependency-name: "io.wcm.maven:io.wcm.maven.aem-dependencies"
        versions: [ "[6.5.17,)" ]
      - dependency-name: "biz.aQute.bnd:bnd-maven-plugin"
        update-types: [ "version-update:semver-major" ]
  - package-ecosystem: "npm"
    directory: "/ui.tests"
    schedule:
      interval: "weekly"
