scripts=["
    create group dictionary-users
    add dictionary-users to group contributor

    create user test-dictionary-user with password test-dictionary-user-password
    add test-dictionary-user to group dictionary-users

    set ACL for dictionary-users
        allow jcr:read,jcr:nodeTypeManagement,jcr:write,crx:replicate on /content/dictionaries
        allow jcr:read on /libs/cq/i18n/translator
        allow jcr:read on /libs/cq/i18n/gui/translator
    end
"]
