# Do not push builds into the repository
target/

# Ignore VLT meta files
.vlt

# Maven files
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# Ignore Mac meta files
.DS_Store
._*

# Ignore IntelliJ IDEA files
.idea
*.iml

# Ignore Eclipse files
.metadata
bin/
tmp/
.settings/
.project
.classpath
