scripts=["
    create path (sling:OrderedFolder) /apps(sling:folder)/cq(nt:folder)/core(nt:folder)/content/nav(nt:unstructured)/tools(nt:unstructured)
    create path (sling:Folder) /content/dictionaries
    set properties on /content/dictionaries
        set jcr:title{String} to Dictionaries
    end

    create service user dictionary-service

    set ACL on /
        allow jcr:read for dictionary-service
    end
"]
